@use "../../vars.scss" as v;
.secButtonsFilters {
  width: 100%;
  height: 70px;
  padding: 20px;
  display: flex;
  gap: 20px;
  scroll-snap-type: x mandatory;
  overflow: auto;
  background-color: v.$secondary_black;
}
.secButtonsFilters::-webkit-scrollbar {
  display: none;
}

@media (min-width: 992px) {
  .secButtonsFilters {
    justify-content: center;
  }
}
