@use "../../vars.scss" as v;

.iconLeft {
  color: v.$white_color;
  font-size: 25px;
  cursor: pointer;
}

.CarruselButtons {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  background: transparent;

  .secIcon {
    width: 10%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
}

.backgroundScroll {
  transition: 0.5s;
  background-color: v.$secondary_black;
}
