@use "../../vars.scss" as v;

.primaryButton {
  border: none;
  border-radius: 30px;
  padding: 10px;
  background-color: v.$grayButton;
  color: v.$gray_font;
  transition: 0.5s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background-color: v.$main_color;
    color: v.$white_color;
    transition: 0.5s;
  }
}
.primaryButton__active {
  @extend .primaryButton;
  background-color: v.$main_color;
  color: v.$white_color;
}

.labelPrimary {
  border: none;
  border-radius: 0;
  background-color: v.$main_color;
  color: v.$white_color;
  text-align: start;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.labelSecondary {
  @extend .labelPrimary;
  background-color: v.$secondary_color;
  font-weight: 600;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 0;
}

@media (min-width: 768px) {
  .labelSecondary {
    @extend .labelPrimary;
    font-size: 1rem;
  }
  .primaryButton {
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .primaryButton {
    font-size: 14px;
  }
}
