@use "../../vars.scss" as v;
.secInicio {
  width: 100%;
  background-color: v.$primary_black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 25px;
  padding-bottom: 90px;
  transform: translateY(100px);

  &__sec1 {
    width: 100%;
    h3 {
      padding: 0 20px;
      font-size: 1rem;
      font-weight: 700;
      color: v.$gray_font;
      margin-bottom: 10px;
    }
  }
  &__sec2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 25px;
    .sec2__item {
      width: 100%;
    }
  }
}

.navbarSticky {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.secFilter {
  width: 100%;
  min-height: 60vh;
  background-color: v.$primary_black;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  padding-top: 25px;
  padding: 0 20px;
  transform: translateY(90px);
  margin-bottom: 170px;
}

@media (min-width: 768px) {
  .secInicio {
    padding-top: 0px;
    &__sec1 {
      align-items: center;
      padding: 10px 20px;
    }
  }
  .secFilter {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 140vh;
    align-items: start;
  }
}

@media (min-width: 992px) {
  .secFilter {
    margin-bottom: 200px;
  }
  .secInicio {
    transform: translateY(70px);
    &__sec1 {
      width: 100%;
      padding: 0;
      min-height: 20vh;
      h3 {
        font-size: 20px;
        padding: 20px;
      }
    }

    &__sec2 {
      width: 100%;
      gap: 20px;
    }
  }
}
