@use ".././../vars.scss" as v;
.secReserv{
    width: 100%;
    height: 100vh;
    background-color: v.$white_color;
    &_head {
        display: flex;
        gap: 30px;
        background-color: v.$secondary_black;
        padding: 12px 25px;
        height: 80px;
        align-items: center;
        color: v.$white_color;
        &icon{
            font-size: 30px;
        }
      }
}
 