@import "../../vars.scss";
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.data_DDGA {
  margin-top: 20px;
  .data_DDGA--item {
    gap: 10px;
    display: flex;
    justify-self: flex-start;
    letter-spacing: 1px;
    p {
      color: $secondary_black;
      span {
        color: $primary_black;
        font-weight: 600;
      }
    }
  }
}
