@import "../../vars.scss";
.carousel__detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
}

.data_DDGA {
  margin-top: 20px;
  .data_DDGA--item {
    gap: 10px;
    display: flex;
    justify-self: flex-start;
    letter-spacing: 1px;
    p {
      color: $secondary_black;
      span {
        color: $primary_black;
        font-weight: 600;
      }
    }
  }
}

.dataMapa{
  display: flex;
  padding: 20px 0px;
  height: 90vh;
}


@media (min-width: 800px){
  .datatxtSlider{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .carousel__detail{
    width: 190%;
  }

  .data{
    display: flex;
  }
}
