@use "../../vars.scss" as v;
.Card {
  border-radius: 20px;
  color: v.$white_color;
  width: 300px;
  height: 184px;
  display: flex;
  flex-direction: column;
}

.CardSlider {
  @extend .Card;
  cursor: pointer;
  &__sec1 {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: end;
    justify-content: start;
  }
  &__sec2 {
    width: 100%;
    height: 64px;
    color: v.$white_color;
    background-color: v.$secondary_black;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
    padding: 5px 10px;
    opacity: 0.9;
    h3 {
      font-weight: 700;
      font-size: 14px;
    }
    p {
      font-weight: 300;
      font-size: 12px;
      width: 70%;
      text-align: start;
    }
  }
}
.CardObra {
  @extend .Card;
  width: 100%;
  cursor: pointer;
  &__sec1 {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: start;
    justify-content: start;
    transform: translateY(-5px);
  }
  &__sec2 {
    width: 100%;
    height: 64px;
    color: v.$white_color;
    background-color: v.$secondary_black;
    border-radius: 0 0 20px 20px;
    display: flex;
    padding: 5px 15px;
    opacity: 1;
    justify-content: space-between;

    :first-child {
      width: 60%;

      h3 {
        font-weight: 700;
        font-size: 14px;
      }
      p {
        font-weight: 300;
        font-size: 12px;
        margin-top: 3px;
      }
    }
    :last-child {
      display: flex;
      flex-direction: column;
      gap: 3px;
      div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          font-weight: 400;
          font-size: 12px;
          color: v.$gray_font;
        }
        h2 {
          font-size: 1rem;
          font-weight: 700;
        }
      }
    }
  }
}

.CardPrincipal {
  @extend .Card;
  width: 144px;
  height: 192px;
  border-radius: 20px;
  cursor: pointer;
  img {
    width: 100%;
    height: 128px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  &__sec1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: v.$secondary_black;
    border-radius: 0 0 20px 20px;
    .secTextos {
      h3 {
        font-size: 14px;
        font-weight: 700;
      }
      p {
        font-size: 12px;
        font-weight: 300;
      }
    }
    .secIcons {
      width: 22px;
      height: 22px;
      border-radius: 20px;
      background-color: v.$white_color;
      color: v.$primary_black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }
  }
}

@media (min-width: 768px) {
  .CardSlider {
    width: 100%;
    height: 500px;
    &__sec1 {
      height: 350px;
    }
    &__sec2 {
      height: 150px;
      display: flex;
      justify-content: center;
      gap: 10px;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  .CardObra {
    height: 350px;
    &__sec1 {
      height: 270px;
    }
    &__sec2 {
      height: 80px;
      padding: 10px 15px;

      :first-child {
        p {
          margin-top: 5px;
        }
      }
      :last-child {
        gap: 1px;
      }
    }
  }
}

@media (min-width: 992px) {
  .CardObra {
    width: 300px;
    &__sec2 {
      padding: 10px 15px;

      :first-child {
        p {
          margin-top: 5px;
        }
      }
      :last-child {
        gap: 1px;
      }
    }
  }

  .CardPrincipal {
    width: 350px;
  }
}
