@use '../../vars.scss' as v;
.calendar{
    height: 80vh;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: v.$secondary_black;
}
.rbc-calendar{
    width: 100%;
}