.ReservationFunctions {
  padding: 20px;
}

.arrowReservation {
  cursor: pointer;
}

.btn_reservation {
  width: 300px;
  align-self: center;
}

.reservationPrice {
  width: 300px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
}
