@use "../../vars.scss" as v;
.ReservationFunctions {
  padding: 20px;
}

.arrowReservation {
  cursor: pointer;
}

.btn_reservation {
  width: 300px;
  align-self: center;
}

.reservationPrice {
  width: 300px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
}

.select {
  height: 35px;
  background: none;
  border: 2px solid v.$primary_black;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 700;
}
