@use "../../vars.scss" as v;
.ReservationFunctions {
  padding: 20px;

  .registerSec__btn {
    background: v.$main_color;
    color: v.$white_color;
    border-radius: 20px;
    padding: 10px 100px;
    width: fit-content;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    &:hover {
      background-color: v.$grayButton;
      transition: 0.5s;
    }
  }
}

.arrowReservation {
  cursor: pointer;
}

.btn_reservation {
  width: 300px;
  align-self: center;
}

.reservationPrice {
  width: 300px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
}

.select {
  height: 35px;
  background: none;
  border: 2px solid v.$primary_black;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 700;
}
