@use ".././../vars.scss" as v;
.secFavorites {
  width: 100%;
  min-height: 100vh;
  background-color: v.$primary_black;
  margin-bottom: 50px;
  &_container {
    display: flex;
    flex-direction: column;
  }
  &_head {
    display: flex;
    gap: 30px;
    background-color: v.$secondary_black;
    padding: 12px 25px;
    height: 80px;
    align-items: center;
    color: v.$white_color;
  }
  &_logo {
    width: 50px;
    position: relative;
    &heart {
      color: v.$main_color;
      position: absolute;
      transform: translate(-43.5px, 25.5px);
      font-size: 12.5px;
    }
  }
  &_title {
    letter-spacing: 2px;
  }
  &_obras {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 25px;
    justify-content: center;
  }
  &_nofavorites {
    padding-top: 70px;
    color: v.$white_color;
    width: 100%;
    &Img {
      position: absolute;
      height: 240px;
    }
    &container {
      width: 200px;
      margin: auto;
      display: flex;
      h1 {
        transform: translate(0px, 280px);
        text-align: center;
      }
      span {
        color: v.$main_color;
        cursor: pointer;
      }
    }
    &logoheart {
      color: v.$main_color;
      position: absolute;
      transform: translate(22px, 98px);
      font-size: 58px;
    }
  }
}
