@use ".././../vars.scss" as v;
.secReservations {
  width: 100%;
  height: 100vh;
  background-color: v.$primary_black;
}

.arrowsReservation {
  margin-right: 15px;
  p {
    color: v.$white_color;
  }
}

.seatingImg {
  background: url("../../assets/Teatro_sala.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 300px;
}

/* parte blanca de reservas */
.ReservationFunctions {
  padding: 0 20px 40px 20px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  background-color: v.$white_color;
  padding-bottom: 100px;
  min-height: 60vh;
  align-items: center;
  .ReservationIcon {
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0 10px;
    .arrowLeftReservations {
      font-size: 25px;
      cursor: pointer;
    }
    p {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .selectSec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

@media (min-width: 992px) {
  .ReservationFunctions {
    min-height: 40vh;
  }
}

.ticketReservation__Container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  .ticketReservation {
    gap: 20px;
    display: flex;
    align-items: center;
    .btnTicket {
      border: none;
      color: v.$white_color;
      background-color: v.$main_color;
      padding: 2px 7px;
      cursor: pointer;
      font-size: 1rem;
    }
    .btnTicketDisabled {
      @extend .btnTicket;
      background-color: v.$primary_black;
    }
  }
}

@media (min-width: 700px) {
  .seatingImg {
    height: 400px;
  }

  .ticketReservation__Container {
    flex-direction: row;
    justify-content: space-between;
  }
}
